/* CSS file for the About Us page*/

body{
    font: 15px/1.5 Palatino, Times, Arial, Helvetica, sans-serif;
    padding : 0;
    margin : 0;
    background-color: #f8f8ff;
}

/* global */
.contain{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.contain-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

/* header */
header{
    background: #2C3531;
    color: #ffffff;
    padding-top: 15px;
    min-height: 60px;
}

header ul{
    margin: 0;
    padding: 0;
}


header a{
    color: #ffffff;
    text-decoration: none;
}

header a:hover{
    color: #116466;
}

header li{
    float: left;
    display: inline;
    padding: 5px 15px 0px 15px;
}

header #brand{
    float:left;
}

header #brand h1{
    margin:0;
}

header nav{
    float: right;
    margin-top: 5px;
}

/* body */
#bio {
    float: left;
    color: #000000;
    margin-right:25px;
}

.contain-2{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.contain-2 h1{
    color: #2C3531;
}

.contain-2 h2{
    color: #2C3531;
}

.about{    
    padding: 30px;
    color: #2C3531;
    margin: 25px 50px; 
}

/*footer*/
footer{
    padding:20px;
    margin-top: 60px;
    color:#ffffff;
    background-color: #000000;
    text-align: center;
}